body {
	font-family: 'Montserrat', sans-serif;
}

.pealkiri {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-size: 400%;
	text-align: center;
	letter-spacing: 6px;
	flex: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

.alapealkiri {
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	margin-top: -40px;
	font-size: 125%;
	text-align: center;
	letter-spacing: 6px;
	flex: 100%;
}

.joon {
	display: none;
}

.lingid {
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
	margin: auto;
}
.retseptid {
	margin-top: 30px;
	text-decoration: none;
	color: black;
	font-size: 150%;
	
}

.retseptid:hover {
	transform: scale(1.1);
}

.kontakt {
	margin-top: 30px;
	text-decoration: none;
	color: black;
	font-size: 150%;
}

.kontakt:hover {
	transform: scale(1.1);
}

.bänner {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	max-width: 1200px;
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

.meist {
	display: flex;
	justify-content: space-around;
	max-width: 1100px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.column {
	float: left;
	width: 50%
}

.meist-pealkiri {
	margin-top: 50px;
	font-size: 175%;
}

.meist-tekst {
	display: flex;
	justify-content: space-around;
	margin-right: 50px;
	font-size: 120%;
	text-align: left;
}

.meist-pilt {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 110px;
	max-width: 600px;
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

.retseptid-pealkiri {
	display: none;
}

.nupud {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
}
.nupp {
	margin-top: 25px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	position: relative;
	flex: 100%;
}

.eesti-tekst {
	font-size: 85%;
	position: absolute;
	bottom: 35px;
	left: 67px;
	background-color: white;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.7;
	z-index: 9999;
}

.eesti-pilt {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	object-fit: cover;
}

.eesti-pilt:hover {
	transform: scale(1.1);
}

.eesti-tekst:hover + .eesti-pilt {	
	transform: scale(1.1);
}

.aasia-tekst {
	font-size: 85%;
	position: absolute;
	bottom: 35px;
	left: 62px;
	background-color: white;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.7;
	z-index: 9999;
}

.aasia-pilt {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	object-fit: cover;
}

.aasia-pilt:hover {
	transform: scale(1.1);
}

.aasia-tekst:hover + .aasia-pilt {	
	transform: scale(1.1);
}

.itaalia-tekst {
	font-size: 85%;
	position: absolute;
	bottom: 42px;
	left: 56px;
	background-color: white;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.7;
	z-index: 9999;
}

.itaalia-pilt {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	object-fit: cover;
}

.itaalia-tekst:hover + .itaalia-pilt {	
	transform: scale(1.1);
}

.itaalia-pilt:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 960px) {
	.pealkiri {
		font-size: 230%;
	}
	.alapealkiri {
		font-size: 80%;
		margin-top: -20px;
	}
	.lingid {
		font-size: 80%;
	}
	.joon {
		display: flex;
		justify-content: center;
		width: 50%;
		border-top: 3px solid black;
	}
	.retseptid-pealkiri {
		display: flex;
		font-size: 175%;
		margin-left: 30px;
	}
	.nupud {
		display: table;
	}
	
	.column {
		width: 100%;
	}
	
	.meist-pilt {
		display: none;
	}
}

footer {
	margin-top: 30px;
	background-color: gainsboro;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin:auto;
	padding-right: 30px;
	padding-left: 30px;
}

.footer-info {
	align-items: center;
	line-height: 1.5;
}

.footer-sm {
	display: flex;
	flex-direction: column;
}

.instagram {
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.instagram:hover {
	transform: scale(1.1);
}

.facebook {
	margin-top: px;
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.facebook:hover {
	transform: scale(1.05);
}